div#footer
  p here is some footer

script(src="http://ajax.googleapis.com/ajax/libs/jquery/1.5/jquery.min.js ", type="application/javascript")
script
  !window.jQuery && document.write(unescape('%3Cscript src="/static/js/jquery-1.5.1.js"%3E%3C/script%3E'))  

script(src="/static/js/modernizr-1.7.min.js")
