html
  head
    meta(charset="utf-8")
    //
      meta(http-equiv="X-UA-Compatible",content="IE=edge,chrome=1")
      meta(name="viewport",content="width=device-width,initial-scale=1.0")
    
    title #{h1}
    
    link(rel="stylesheet", type="text/css", media="all", href="http://fonts.googleapis.com/css?family=Carter+One")
    //
      link(rel="stylesheet", type="text/css", media="all", href="http://fonts.googleapis.com/css?family=Amaranth")
    
    link(rel="stylesheet", type="text/css", media="all", href= "/static/blueprint/screen.css")
    link(rel="stylesheet", type="text/css", media="print", href="/static/blueprint/print.css")
    /if lt IE 8
      link(rel="stylesheet", type="text/css", media="print", href="/static/blueprint/ie.css")
      
    link(rel="stylesheet", type="text/css", media="screen", href="/static/style.full.css")    

  body(class=page.class,id=page.id)
    div#header.container
      div#sitetitle 
        a(href='/') #{opt.siteName}
