script
  var idcomments_acct = '9a321ef20270b37eed9643f593d4df50';
  var idcomments_post_id = '#{page.id}';
  var idcomments_post_url = '#{page.permalink}';

span#IDCommentsPostTitle(style="display:none")
script(type='text/javascript',src='http://www.intensedebate.com/js/genericCommentWrapperV2.js')
