!!! 5
html
  head
    title!=h1   
    link(rel="stylesheet", type="text/css", media="all", href="static/jquery.mobile/jquery.mobile-1.0a4.1.min.css")
    //
      link(rel="stylesheet", type="text/css", media="all", href="static/css/mobile.style.css")
    script(src="http://ajax.googleapis.com/ajax/libs/jquery/1.5/jquery.min.js ", type="application/javascript")
    script
      !window.jQuery && document.write(unescape('%3Cscript src="/static/js/jquery-1.5.1.js"%3E%3C/script%3E'))  
    script(src="/static/jquery.mobile/jquery.mobile-1.0a4.1.min.js", type="application/javascript")    
    body(class=page.class)
      div(data-role="page",data-theme="e")
        div(data-role="header")
          h1!=h1
          a.ui-btn-right(href="/",data-direction="reverse",data-iconpos="notext",data-icon="home") Home
        div(data-role="content")
          !=body
        !=partial('./footer')
  
