div(data-role="footer")
  h5 powered by 
    a(href='http://github.com/cuppster/node-publish/', title=opt.siteName + ' at github') node-publish and 
    a(href='http://jquerymobile.com/') jQuery mobile
